body {
    background-color: #F7EAB2;
    font-size: 1em;
    font-family: "Lobster Two", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    clear: right;
}

h1 {
    color: #C74B15;
    font-size: 2.5em;
    font-family: "Lobster Two", sans-serif;
    text-shadow: 1px 1px 1px #E5B018;
}

h {
    text-align: center;
    color: #0A9EDF;
    font-family: "Lobster", sans-serif;
    font-size: 2em;
    text-shadow: 1px 1px 1px #000000;
}

p {
    text-align: justify;
    font-size: 1em;
    font-family: "Lobster Two", sans-serif;
    width: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#Beef,
#Chicken,
#Sushi {
    color: #C74B15;
    font-family: "Lobster Two", sans-serif;
    text-shadow: 1px 1px 1px #E5B018;
    font-size: 2em;
    text-align: center;
}

#navbarSupportedContent {
    text-align: center;
}

/*********Media Query for extra ungraded portion*********


/**********Large Devices Only*********
@media (min-width: 992px) and (max-width: 1400px) {

}

/**********medium Devices Only*********
@media (min-width: 768px) and (max-width: 991px) 
{
    .col-md-6 {
        width: 50%;
        height: 300px;
        overflow-y: scroll;
        margin-top: 20px;
    }

    .col-md-12 {
        width: 100%;
        height: 300px;
        margin-top: 50px;
        overflow-y: scroll;
    }

}

/**********Small Devices Only*********
@media (min-width: 0px) and (max-wdiht: 767px) {

    .col-sm-12 {
        width: 20px;
        height: 50px;
        overflow: scroll;
    }
}

#footer {
    background-color: #000000;
    width: 100%;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #C74B15;
    font-size: 2em;
    font-family: "Lobster Two", sans-serif;
    text-shadow: 1px 1px 1px #E5B018;
}
*/